body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #101820;
}

h1 {
    color: antiquewhite;
    font-family: Carlito;
    font-size: 2vw;
}

p, .info {
    font-family: Carlito;
    font-size: 2vw;
}

.info {
    color: antiquewhite;
}

.winner {
    color: green;
}

.case {
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: solid #101820 1px;
    border-right: solid #101820 1px;
}

.damier {
    display: flex;
}